.card-decoration {
  text-decoration: none;
  text-decoration-line: none;
  color: grey;
}
.card-decoration:hover {
  text-decoration: none;
  color: black;
}

.App {
  text-align: center;
}

.main-header .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Main {
  background-image: url("./nike-gdc8c61bd3_1920.jpg");
  background-size: cover;
  background-color: #ebebeb;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.detail-btn {
  margin-left: 5px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-grey {
  background-color: grey;
}
