// 2. @import
@import "./_reset.scss";

.wow-enter {
  opacity: 0;
}

.wow-enter-active {
  opacity: 1;
  transition: all 1000ms;
}

// 1. 변수 사용
$mainColor: grey;
.grey {
  color: $mainColor;
}

// 3. nesting
// div.container h4 {
//   color: blue;
// }

// div.container p {
//   color: green;
// }

// div.container {
//   h4 {
//     color: blue;
//   }
//   p {
//     color: green;
//   }
// }

// 4. 복붙하지 말고 @extend
// .shoe-alert {
//   background-color: #eeeeee;
//   padding: 20px;
//   border-radius: 5px;
//   max-width: 500px;
//   width: 100%;
//   margin: auto;
//   p {
//     margin-bottom: 0px;
//   }
// }

// .shoe-alert-yellow {
//   @extend .shoe-alert;
//   background: #ffe592;
// }

// 5.함수는 @mixin / @include

@mixin 함수() {
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.shoe-alert {
  @include 함수();
  p {
    margin-bottom: 0px;
  }
}

.shoe-alert-yellow {
  @extend .shoe-alert;
  background: #ffe592;
}
